* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  overflow: hidden;
  background-color: #141414;
}

.game-text {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  color: #fff;
  font-size: 50px;
}

.game-text > button {
  padding: 0.5rem 1rem;
  color: #fff;
  background-color: salmon;
  border: none;
  cursor: pointer;
}

.score {
  text-align: center;
  font-size: 36px;
  margin-bottom: 2rem;
}

.playground > ul {
  border: 1px solid #333;
  width: 250px;
  margin: 0 auto;
}

.playground > ul > li {
  width: 100%;
  height: 25px;
}

.playground > ul > li > ul {
  display: flex;
}

.playground > ul > li > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}

.playground > ul > li > ul > li > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.playground > ul > li > ul > li > span > span {
  display: block;
  width: 15px;
  height: 15px;
}

.square {
  background-color: rgb(59, 84, 165);
}
.square > span {
  background-color: rgb(118, 137, 196);
}
.square > span > span {
  background-color: rgb(79, 111, 182);
}

.bar {
  background-color: rgb(214, 30, 60);
}
.bar > span {
  background-color: rgb(241, 108, 107);
}
.bar > span > span {
  background-color: rgb(236, 42, 75);
}

.tree {
  background-color: rgb(62, 170, 212);
}
.tree > span {
  background-color: rgb(120, 205, 244);
}
.tree > span > span {
  background-color: rgb(54, 192, 240);
}

.zee {
  background-color: rgb(88, 178, 71);
}
.zee > span {
  background-color: rgb(150, 204, 110);
}
.zee > span > span {
  background-color: rgb(115, 191, 68);
}

.elLeft {
  background-color: rgb(158, 35, 126);
}
.elLeft > span {
  background-color: rgb(193, 111, 173);
}
.elLeft > span > span {
  background-color: rgb(179, 63, 151);
}

.elRight {
  background-color: rgb(220, 159, 39);
}
.elRight > span {
  background-color: rgb(246, 197, 100);
}
.elRight > span > span {
  background-color: rgb(242, 181, 42);
}
